html {
    font-size: 22px;
}
@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

body,
body *,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    line-height: 160%;
    background-color: var(--bgColor);
    color: var(--textColor);
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


a {
    color: var(--textColor_weak);
    text-decoration-color: var(--textColor_weak);
    text-decoration-thickness: 0.05rem;
}


li {
    padding-bottom: 0.8rem;
    &:last-of-type {
        padding-bottom: 0;
    }
}


ul > li {
        display: flex;
        &::before {
            content: "â—";
            font-size: 50%;
            color: var(--textColor);
            flex: 0 0 1rem;
        }
        & > * {
            flex: 1 1 auto;
        }
}


ol {
    counter-reset: orderedItem;
    & > li {
        display: flex;
        &::before {
            counter-increment: orderedItem;
            content: counter(orderedItem)".";
            flex: 0 0 1rem;
            margin-right: 1rem;
        }
        & > * {
            flex: 1 1 auto;
        }
    }
}