.l_header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.05rem solid var(--mainColor);
    background-color: var(--mainColor);
    &_inner {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.l_head_ttl_grp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.l_head_ttl {
    color: var(--bgColor);
}
.l_head_sub {
    margin-top: 1rem;
}


.l_content {
    padding: 4rem 1rem;
}

.l_art_ttl {
    color: var(--mainColor);
    border-left: 0.2rem solid var(--mainColor);
    padding-left: 0.2rem;
    margin-left: 0.2rem;
}
.l_sect {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    &_ttl {
        font-size: 1.2rem;
        color: var(--strong);
        border-left: 0.1rem solid var(--strong);
        padding-left: 0.1rem;
        margin-left: 0.1rem;
    }
}
.l_subSect {
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    &_ttl {
        font-size: 1.1rem;
        color: var(--bright);
        margin-left: 0.1rem;
    }
}
.l_para {
    color: var(--textColor);
    font-family: sans-serif;
    font-size: 1.1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-left: 1rem;
    &:last-of-type {
        padding-bottom: 0;
    }
    & > ul {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.l_footer {
    margin-bottom: 2rem;
    border-top: 0.05rem solid var(--mainColor);
    &_inner {
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
        font-size: smaller;
        font-family: sans-serif;
    }

}