:root {
--bgColor: #efefef;
--textColor: #333;
--textColor_weak: #777;
--mainColor: #81378a;
--bright: #a165a8;
--strong: #7c3d84;
--deep: #612469;
--lightPlus: #b088b5;
--light: #b89ab8;
--soft: #907194;
--dull: #6c4a71;
--dark: #432848;
--palePlus: #c8b9c9;
--pale: #d0c8d1;
--lightGrayish: #aba0ab;
--grayish: #605262;
--darkGrayish: #302531;
}