@use "purples";
@use "base";
@use "layout";



.MathJax_Display {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

html {
    scroll-behavior: smooth;
}

td, th {
    padding-left: 1rem;
    padding-right: 1rem;
}
